Repository openshift/installer, pull requests merged in 2021-05, with the labels that each got.

#4886 Bug 1953803: aws: validate byo hostedzone is parent of cluster domain
  pkg/asset/installconfig/aws/validation.go
  pkg/asset/installconfig/aws/validation_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#4892 Bug 1956079: gather: collect networking information in log bundle
  data/data/bootstrap/files/usr/local/bin/installer-gather.sh
  data/data/bootstrap/files/usr/local/bin/installer-masters-gather.sh
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#4872 Bug 1951670: Error gathering bootstrap log after pivot: The bootstrap…
  pkg/gather/service/analyze.go
  pkg/gather/service/analyze_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#4860 Bug 1949923: apply defaults for root volume AZs if they aren't set
  pkg/asset/installconfig/openstack/validate.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#4718 Bug 1956496: Openstack SRIOV docs
  docs/user/openstack/README.md
  docs/user/openstack/deploy_sriov_workers.md
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm, platform/openstack

#4902 Bug 1956978: install-gather: use names in pod logs too
  data/data/bootstrap/files/usr/local/bin/bootkube.sh.template
  data/data/bootstrap/files/usr/local/bin/installer-gather.sh
  data/data/bootstrap/files/usr/local/bin/installer-masters-gather.sh
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#4674 Bug 1931217: add affinity groups to oVirt installer
  data/data/install.openshift.io_installconfigs.yaml
  data/data/ovirt/affinity_group/main.tf
  data/data/ovirt/affinity_group/outputs.tf
  data/data/ovirt/affinity_group/variables.tf
  data/data/ovirt/main.tf
  data/data/ovirt/masters/main.tf
  data/data/ovirt/masters/variables.tf
  data/data/ovirt/variables-ovirt.tf
  go.mod
  go.sum
  pkg/asset/cluster/tfvars.go
  pkg/asset/installconfig/ovirt/client.go
  pkg/asset/installconfig/ovirt/validation.go
  pkg/asset/machines/ovirt/machines.go
  pkg/asset/machines/ovirt/machinesets.go
  pkg/destroy/ovirt/destroyer.go
  pkg/terraform/exec/plugins/ovirt.go
  pkg/tfvars/ovirt/ovirt.go
  pkg/tfvars/ovirt/ovirt_test.go
  pkg/types/defaults/installconfig.go
  pkg/types/defaults/installconfig_test.go
  pkg/types/ovirt/defaults/machinepools.go
  pkg/types/ovirt/defaults/platform.go
  pkg/types/ovirt/defaults/platform_test.go
  pkg/types/ovirt/machinepool.go
  pkg/types/ovirt/platform.go
  pkg/types/ovirt/validation/platform.go
  vendor/github.com/openshift/cluster-api-provider-ovirt/pkg/apis/ovirtprovider/v1beta1/types.go
  vendor/github.com/ovirt/terraform-provider-ovirt/ovirt/provider.go
  vendor/github.com/ovirt/terraform-provider-ovirt/ovirt/resource_ovirt_affinity_group.go
  vendor/github.com/ovirt/terraform-provider-ovirt/ovirt/resource_ovirt_vm.go
  vendor/github.com/ovirt/terraform-provider-ovirt/ovirt/utils.go
  vendor/modules.txt
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#4898 bug 1956281: crio: fix bootstrap given new crio config behavior
  data/data/bootstrap/files/usr/local/bin/crio-configure.sh.template
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#4848 Bug 1957951: AWS: Periodically send shut down requests for stuck EC2 instances
  pkg/destroy/aws/aws.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#4852 Bug 1958216: libvirt: Allow duplicate dnsmasq options
  data/data/libvirt/main.tf
  data/data/libvirt/variables-libvirt.tf
  pkg/asset/cluster/tfvars.go
  pkg/tfvars/libvirt/libvirt.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#4914 Bug 1958428: aws: support more auth options in manual mode
  pkg/asset/installconfig/aws/session.go
  pkg/asset/manifests/openshift.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#4903 Bug 1948563: Handle instance_info capabilities and update ironic-terraform
  go.mod
  go.sum
  pkg/tfvars/baremetal/baremetal.go
  vendor/github.com/openshift-metal3/terraform-provider-ironic/ironic/resource_ironic_deployment.go
  vendor/modules.txt
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#4904 Bug 1956208: openstack: add validation for volume types
  pkg/asset/installconfig/openstack/validation/cloudinfo.go
  pkg/asset/installconfig/openstack/validation/machinepool.go
  pkg/asset/installconfig/openstack/validation/machinepool_test.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/urls.go
  vendor/modules.txt
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm, platform/openstack

#4916 Bug 1958420: aws: restore setting aws platform spec in infra resource
  pkg/asset/manifests/infrastructure.go
  pkg/asset/manifests/infrastructure_test.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#4908 Bug 1957869: vendor: update baremetal-operator to align irmc PowerInterface
  go.mod
  go.sum
  vendor/github.com/metal3-io/baremetal-operator/apis/metal3.io/v1alpha1/baremetalhost_types.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/bmc/ibmc.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/bmc/idrac.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/bmc/ilo4.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/bmc/ipmi.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/bmc/irmc.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/bmc/redfish.go
  vendor/github.com/metal3-io/baremetal-operator/pkg/bmc/redfish_virtualmedia.go
  vendor/modules.txt
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm, platform/baremetal

#4911 Bug 1958884: openstack: Fix error message typo when getting volume availability zones
  pkg/asset/installconfig/openstack/validation/cloudinfo.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm, platform/openstack

#4917 Bug 1957809: Validation of platform.openstack.machineSubnet
  pkg/asset/installconfig/openstack/validation/platform.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm, platform/openstack

#4905 Bug 1953035: Disallow publish internal for non-cloud installations
  pkg/types/validation/installconfig.go
  pkg/types/validation/installconfig_test.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#4897 Bug 1953019: Baremetal: While deleting cluster, warn instead of exiting
  pkg/destroy/baremetal/baremetal.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm, platform/baremetal

#4767 Bug 1940275: Revert "baremetal: send full ignition to masters"
  data/data/baremetal/main.tf
  data/data/baremetal/masters/main.tf
  data/data/baremetal/masters/variables.tf
  data/data/baremetal/variables-baremetal.tf
  pkg/tfvars/baremetal/baremetal.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm, platform/baremetal

#4919 Bug 1940159: Fix Routers destroy with BYO
  pkg/destroy/openstack/openstack.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm, platform/openstack

#4932 Bug 1960323: Address issues raised by coverity security scan
  pkg/asset/installconfig/ovirt/credentials.go
  pkg/asset/tls/bootstrapsshkeypair.go
  pkg/asset/tls/boundsasigningkey.go
  pkg/asset/tls/cabundle.go
  pkg/asset/tls/certkey.go
  pkg/asset/tls/tls.go
  pkg/asset/tls/utils.go
  pkg/gather/ssh/ssh.go
  pkg/terraform/exec/plugins/azureprivatedns/resource_private_dns_srv_record.go
  pkg/terraform/exec/plugins/vsphereprivate/config.go
  pkg/terraform/exec/plugins/vsphereprivate/resource_vsphereprivate_import_ova.go
  pkg/types/kubevirt/validation/machinepool.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#4925 Bug 1955336: Check cluster name for similarities with word 'google'
  pkg/asset/installconfig/clustername.go
  pkg/asset/installconfig/gcp/validation.go
  pkg/asset/installconfig/gcp/validation_test.go
  pkg/validate/validate.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#4896 Bug 1959703: Avoid scp wildcard recursion with installer-masters-gather.sh
  data/data/bootstrap/files/usr/local/bin/installer-gather.sh
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#4894 Bug 1955697: tfvars/vsphere: use explicit path for datacenter.
  pkg/tfvars/vsphere/vsphere.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#4933 Bug 1957597: aws: using dotted domain when looking for public hosted zone
  pkg/destroy/aws/shared.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#4939 Bug 1954873: CoreOS only supports three dns namservers
  docs/user/openstack/customization.md
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#4935 Bug 1959981: oVirt: fix empty AffinityGroupsNames handling
  pkg/types/ovirt/defaults/machinepools.go
  pkg/types/ovirt/machinepool.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#4913 Bug 1926547: pkg/destroy/aws: Log errors untagging shared resources
  pkg/asset/installconfig/aws/permissions.go
  pkg/destroy/aws/shared.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#4941 bug 1959920: baremetal: Do not use ironic allocation
  data/data/baremetal/masters/main.tf
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm, platform/baremetal

#4901 Bug 1957260: gcp: add new region europe-central2
  pkg/types/gcp/validation/platform.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#4944 Bug 1962274: oVirt move affinity groups validations to ValidateForProvisioning
  pkg/asset/installconfig/ovirt/validation.go
  pkg/asset/installconfig/platformprovisioncheck.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#4959 Bug 1951713: docs/openstack/known-issues: add section for machine spec edits
  docs/user/openstack/known-issues.md
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm, platform/openstack

#4821 Bug 1946506: Bootstrap no longer relies on mdns
  data/data/bootstrap/baremetal/README.md
  data/data/bootstrap/files/usr/local/bin/bootkube.sh.template
  data/data/openstack/topology/sg-master.tf
  data/data/openstack/topology/sg-worker.tf
  docs/design/baremetal/networking-infrastructure.md
  docs/design/openstack/networking-infrastructure.md
  docs/user/openstack/known-issues.md
  upi/openstack/security-groups.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#4878 Updates azure-reviewers
  OWNERS_ALIASES
Labels: approved, bugzilla/valid-bug, lgtm

#4962 Bug 1909136: OpenStack: delete volume snapshots
  pkg/destroy/openstack/openstack.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm, platform/openstack
